nav {
    transition: 0.5s;
    position: fixed;
}
nav:hover {
    background-color: #000;
}
nav a {
    color: #fff;
    padding: 0 15px;
    display: inline-block;
    font-size: 14px;
}
nav>.row {
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.logo {
    font-size: 30px;
    position: relative;
    bottom: 3px;
}
.menu, .secondary-menu {
    align-items: center;
}
/* header */
header {
    height: 820px;
    background: url("../images/gogoro.jpg") no-repeat center center;
    background-size: cover;

    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
header .col-6 {
    padding: 100px 0;
    color: #fff;
}
header h1 {
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: 100;
}
header h1 span {
    font-weight: 900;
}
header p {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 30px;
}



