body{
    background-color: #ebebeb;
}

nav {
    transition: 0.5s;
    position: fixed;
}
nav:hover {
    background-color: #000;
}
nav a {
    color: #fff;
    padding: 0 15px;
    display: inline-block;
    font-size: 14px;
}
nav>.row {
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.logo {
    font-size: 30px;
    position: relative;
    bottom: 3px;
}
.menu, .secondary-menu {
    align-items: center;
}
/* header */
header {
    height: 820px;
    background: url("../images/gogoro.jpg") no-repeat center center;
    background-size: cover;

    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
header .col-6 {
    padding: 100px 0;
    color: #fff;
}
header h1 {
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: 100;
}
header h1 span {
    font-weight: 900;
}
header p {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 30px;
}

header .btn {
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    padding: 13px 25px;
    border-radius: 100px;
    transition: 0.3s;
}
header .btn:hover {
    background-color: #fff;
    color: #000;
}
/* campaign */
#campaign .col-4 {
    height: 400px;
}
#campaign .left {
    background:url("../images/campaign-1.png") no-repeat center center;
    background-size: cover;
    border-style: solid;
    border-color: #ebebeb;
    border-width: 6px 3px;
    text-align: center;
}
#campaign .center {
    background:url("../images/campaign-2.png") no-repeat center center;
    background-size: cover;
    border-style: solid;
    border-color: #ebebeb;
    border-width: 6px 3px;
    text-align: center;
}

#campaign .right {
    background:url("../images/campaign-3.png") no-repeat center center;
    background-size: cover;
    border-style: solid;
    border-color: #ebebeb;
    border-width: 6px 3px;
    text-align: center;
}
#campaign p {
    color: #464646;
}



