nav {
    transition: 0.5s;
    position: fixed;
}
nav:hover {
    background-color: #000;
}
nav a {
    color: #fff;
    padding: 0 15px;
    display: inline-block;
    font-size: 14px;
}
nav>.row {
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.logo {
    font-size: 30px;
    position: relative;
    bottom: 3px;
}
.menu, .secondary-menu {
    align-items: center;
}
/* header */
header {
    height: 820px;
    background: url("../images/gogoro.jpg") no-repeat center center;
    background-size: cover;
}


